body {
  font-family: "黑體-繁", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* 將 footer 貼至頁面底端 */
.app {
  min-height: 100vh; 
  display: flex; 
  flex-direction: column; 
}

.content {
  flex: 1; 
}

.footer {
  height: 100px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}
/* 將 footer 貼至頁面底端 */

/* swiper */
.swiper {
  width: 100%;
  height: 422px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* swiper */

.object-cover {
  object-fit: cover;
}

.banner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.concept::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.line-link {
  color: #090
}

.line-link:hover {
  color: #070
}

.github-link {
  color: #555
}

.github-link:hover {
  color: #333
}

.line {
  height: 2px;
}

.circle {
  width: 15px;
  height: 15px;
  margin-top: -9px;
  position: relative;
  z-index: 1;
}

.overlay-link {
  position: relative;
  display: inline-block;
}

.overlay-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-link:hover::before {
  opacity: 1;
}

.nav-link:hover {
  transform: translateY(-3px);
  transition: 0.3s
}